/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #ffffff !default;
$text-color: #222831 !default;
$muted-text-color: #393e46 !default;
$primary-color: #4f97f6 !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: #ececec !default;
$link-color: $primary-color !default;
$link-color-hover: mix(#65acfe, $link-color, 25%) !default;
$link-color-visited: mix(#3a62a2, $link-color, 25%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #5e5e5e !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
