---
layout: archive
---


{{ content }}

<ul class="taxonomy__index">
  {% assign postsInYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
  {% for year in postsInYear %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign postsByYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="entries-{{ entries_layout }}">
      {% for post in year.items %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}

<!--utterances comments-->
<div class="col-lg-8 col-md-10 mx-auto">
  <hr />
  
  <script src="https://utteranc.es/client.js"
    repo="file8888/file8888.github.io"
    issue-term="pathname"
    label="comments"
    theme="github-dark"
    crossorigin="anonymous"
    async>
  </script>
  
</div>

<!-- 라이트모드 댓글 토글 추가 -->
<aside class= "dark__toggle">
  {% if site.minimal_mistakes_skin2 %}
    <i class="fas fa-adjust" aria-hidden="true" onclick="node1=document.getElementById('theme_source'); node2=document.getElementById('theme_source_2');
      if(node1.getAttribute('rel')=='stylesheet') {
        <div class="col-lg-8 col-md-10 mx-auto">
        <div class="col-lg-8 col-md-10 mx-auto">
        <hr />
  
        <script src="https://utteranc.es/client.js"
          repo="file8888/file8888.github.io"
          issue-term="pathname"
          label="comments"
          theme="github-dark"
          crossorigin="anonymous"
          async>
        </script>
  
        </div>
      } else {
        <div class="col-lg-8 col-md-10 mx-auto">
        <hr />
  
        <script src="https://utteranc.es/client.js"
          repo="file8888/file8888.github.io"
          issue-term="pathname"
          label="comments"
          theme="github-light"
          crossorigin="anonymous"
          async>
        </script>
  
        </div>
      } return false;" style="cursor:pointer">
    </i>
  {% endif %}
</aside>
